@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}
.container {
  background: url(smithing\ png.png);
  height: 100vh;
  background-size: 100% 100%;
}
.container.navbar {
  width: 100%;
  height: 80px;
  background: rgba(22, 112, 214, 0.4);
}
.navbar .logo {
  display: inline-block;
  margin-left: 50px;
  margin-top: 50 px;
}
.navbar.logo a {
  text-decoration: none;
  font-size: 30px;
  font-family: sans-serif;
}
.navbar ul {
  float: right;
  margin-right: 20px;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}
.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 6px 13px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: 2s;
  border-radius: 10px;
}
.navbar ul li a.active,
.navbar ul li a:hover {
  background: #a08c1c9f;
}
.container .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  user-select: none;
}
.center h1 {
  color: rgb(192, 73, 73);
  font-size: 30px;
  font-weight: bold;
  width: 900px;
  text-align: center;
}
.center h2 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  width: 885px;

  margin-top: 10px;
  text-align: center;
}
.center .buttons {
  margin: 35px 280px;
  padding-left: 75px;
}
.buttons button {
  height: 50px;
  width: 150px;
  font-size: 18px;
  font-weight: bold;
  color: #ffb3b3;
  background: rgb(207, 96, 88);
  border: solid 1px red;
  cursor: pointer;
  outline: none;
  border-radius: 25px;
  position: fixed;
}
.buttons button:hover {
  background: #fff;
}
.logo img {
  float: left;
  height: 100px;
  width: 100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px 5px 5px 5px;
  padding-left: 1px;
  padding-top: 20px;
  margin-left: 50px;
}
.logoright {
  height: 100px;
  width: 100px;
}
.logoleft {
  height: 100px;
  width: 100px;
}
.siralama {
  padding-left: 80%;
  background-color: whitesmoke;
}
.siralama-logo-top {
  padding-left: 70px;
  height: 120px;
}
